classificador-de-imagens/teste2.txt
classificador-de-imagens/utils/__pycache__*
classificador-de-imagens/checkpoint
classificador-de-imagens/nei.json
classificador-de-imagens/nei.json.class
classificador-de-imagens/nei.json.data-00000-of-00001
classificador-de-imagens/nei.json.index
classificador-de-imagens/Modelos/__pycache__/brain.cpython-39.pyc
classificador-de-imagens/Modelos/__pycache__/dataset.cpython-39.pyc
classificador-de-imagens/Modelos/__pycache__/inteligencia.cpython-39.pyc
classificacao_de_imagens/utils/__pycache__/utils.cpython-39.py
classificador-de-imagens/classificador_cao_gato.class
classificador-de-imagens/classificador_cao_gato.h5t
extrair-objetos/dados/*
extrair-objetos/saida/*
extrair-objetos/data/*
extrair-objetos/out/*
yolov7-callidus-custon/data/imagens/*